*{
  font-family:serif;
}

h1{
  color:red;
  text-shadow: 2px 2px 6px #000;
}
body {
  width:100%;
  height:1400;
  margin: auto;
  background-image:url("https://img-rp.vhd.me/4757888_l5.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

#page{
  width:100%;
  height:100%;
  margin: 0 auto;
  background-color: rgba(70,30,10,0.5);


}
header {
  text-align:center;

}
div{
  display:block;
}
#bodyDiv{
  width:90%;
  height:90%;
  margin: 0 auto;



}

.lobby{
  width:20%;
  margin:6%;
  border: 1 solid black;
}

#cover{
  background-color: rgba(18,2,2,0.8);
  position:fixed;
  width:100%;
  height:100%;
  top:-1000px;
  left:0;
  z-index:10;
}

#poster{
  display:block;
  height:60%;
  margin:40 auto;
}

.over{
  color:white;
  text-align:center;

}
